[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clint = "*"
geopy = "*"
dronekit = "*"
dronekit-sitl = "*"
pymavlink = "==2.4.8"
serial = "*"
pyserial = "*"

[dev-packages]

[requires]
python_version = "3.8"
